div#header {
    background: #000;
}

#header ul a{
    color: #fff;
}

#header ul a:hover, #header ul a.active{
    background: #717171f5;
}   

.post-container{
    border: 1px solid #ccc;
    min-height: 200px;
    margin: 15px 0;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 32px #16324833;
}

.post-container h3 {
    margin: -8px -8px 8px -8px;
    background: #c9c9c94d;
    height: 40px;
    line-height: 40px;
}
.post-container a, .post-container button  {
    position: absolute;
    bottom: 30px;
    
}
.post-container button.rigth{
    right: 30px;
}
.post-container a.left{
    left: 30px;
}.post-container h3 {
    position:relative;
}


.post-container .glyphicon-pencil {
 right: 5px;
display: block;
top: 0;
font-size: 20px;
height: 40px;
width: 50px;
line-height: 40px;
cursor: pointer;
}