{{ render(controller('App\\Controller\\HeaderController::index', {'title':'Добавить'})) }}

<h1>Добавить пост</h1>

<form class="form-horizontal" action ="{{path('post.add')}}" method="POST">
    
    <div class="form-group">
        <label for="post_name" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input name="name" type="test" class="form-control" id="post_name" placeholder="Имя" value="{{data.name}}">
            {% if errors.name is defined %}
                <span class="text-danger" >Не валидное имя</span>
            {% endif %}
        </div>
    </div>
    
    <div class="form-group">
        <label for="post_description" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea name="description" id="post_description" class="form-control" rows="3">{{data.description}}</textarea>
            {% if errors.description is defined %}
                <span class="text-danger" >Заполните описание поста</span>
            {% endif %}
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Создать</button>
        </div>
    </div>
    
</form>



{% include 'main/footer.html.twig' %}