{{ render(controller('App\\Controller\\HeaderController::index', {'title':'Список'})) }}

<h1>Список постов</h1>

<div class="row">
    {% for post in posts %}
        <div class="col-md-4">
            <div class="post-container">
               
                <h3>{{post.name}}<a href = "{{path('post.edit', {'slug':post.id})}}"class="glyphicon glyphicon-pencil" aria-hidden="true"></a></h3>
                <p>{{post.description}}</p>
                 <span>{{post.date | date('m.d.Y h:i')}}</span> 
                <button type="button" data-toggle="modal" data-target="#post-modal" class="btn btn-danger rigth" value="{{path('post.remove', {'slug':post.id})}}">
                Удалить
                </button>
                <a class="btn btn-primary left" href="{{path('post.show', {'slug':post.id})}}">
                Подробнее
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<div id="post-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Предупреждение</h4>
      </div>
      <div class="modal-body">
          <p>Вы точно хотите удалить <span id="name_post"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="remove_post"  class="btn btn-primary">Удалить</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% include 'main/footer.html.twig' %}
